.example-container {
    position: relative;
    padding: 5px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }
  
  .button-row {
    margin: 10px 0;
    
  }
  
  .mat-flat-button {
    margin: 5px;
  
}
h2 {
  font-size: 23px;
  color: black;
  font-family: arial;
}
.mat-input-element {

  
    height: 20px;
    color: black;
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
  

}

button {
  display: inline-block;
    color: white;
    width: 340px;
    height: 50px;
    padding: 0 20px;
    background: #337e67;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 7% auto;
    letter-spacing: 0.05em;
    text-align: center;
  
}
